rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/images/{image} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid
        && request.resource.size < 1100000
        && request.resource.contentType.matches('image/(png|jpeg|webp)');
      allow delete: if request.auth != null && request.auth.uid == uid;
    }
  }
}
